main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  gap: 15px;
  padding: 50px;
}

article img {
  width: 150px;
}